@model Org.Ktu.Isk.P175B602.Autonuoma.Models.SutartisF2.SutartisCE

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Sutarties redagavimas (F2)"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-ce" }) )
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
	@Html.HiddenFor(m => m.Sutartis.Nr)

	<fieldset>
		<legend class="text-center">Sutartis</legend>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.SutartiesData)
			@Html.TextBoxFor(m => m.Sutartis.SutartiesData, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
			@Html.ValidationMessageFor(m => m.Sutartis.SutartiesData, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FkKlientas)
			@Html.DropDownListFor(m => m.Sutartis.FkKlientas, Model.Lists.Klientai, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Sutartis.FkKlientas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FkDarbuotojas)
			@Html.DropDownListFor(m => m.Sutartis.FkDarbuotojas, Model.Lists.Darbuotojai, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Sutartis.FkDarbuotojas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.NuomosDataLaikas)
			@Html.TextBoxFor(m => m.Sutartis.NuomosDataLaikas, "{0:yyyy-MM-dd hh:mm}", new { @class = "datetime-picker" })
			@Html.ValidationMessageFor(m => m.Sutartis.NuomosDataLaikas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.PlanuojamaGrDataLaikas)
			@Html.TextBoxFor(m => m.Sutartis.PlanuojamaGrDataLaikas, "{0:yyyy-MM-dd hh:mm}", new { @class = "datetime-picker" })
			@Html.ValidationMessageFor(m => m.Sutartis.PlanuojamaGrDataLaikas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FaktineGrDataLaikas)
			@Html.TextBoxFor(m => m.Sutartis.FaktineGrDataLaikas, "{0:yyyy-MM-dd hh:mm}", new { @class = "datetime-picker" })
			@Html.ValidationMessageFor(m => m.Sutartis.FaktineGrDataLaikas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FkBusena)
			@Html.DropDownListFor(m => m.Sutartis.FkBusena, Model.Lists.Busenos, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Sutartis.FkBusena, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.Kaina)
			@Html.EditorFor(m => m.Sutartis.Kaina)
			@Html.ValidationMessageFor(m => m.Sutartis.Kaina, "")
		</div>
	</fieldset>

	<fieldset>
		<legend class="text-center">Automobilis</legend>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FkAutomobilis)
			@Html.DropDownListFor(m => m.Sutartis.FkAutomobilis, Model.Lists.Automobiliai, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Sutartis.FkAutomobilis, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FkPaemimoVieta)
			@Html.DropDownListFor(m => m.Sutartis.FkPaemimoVieta, Model.Lists.Vietos, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Sutartis.FkPaemimoVieta, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.PradineRida)
			@Html.EditorFor(m => m.Sutartis.PradineRida)
			@Html.ValidationMessageFor(m => m.Sutartis.PradineRida, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.DegaluKiekisPaimant)
			@Html.EditorFor(m => m.Sutartis.DegaluKiekisPaimant)
			@Html.ValidationMessageFor(m => m.Sutartis.DegaluKiekisPaimant, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.FkGrazinimoVieta)
			@Html.DropDownListFor(m => m.Sutartis.FkGrazinimoVieta, Model.Lists.Vietos, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Sutartis.FkGrazinimoVieta, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.GalineRida)
			@Html.EditorFor(m => m.Sutartis.GalineRida)
			@Html.ValidationMessageFor(m => m.Sutartis.GalineRida, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Sutartis.DegaluKiekisGrazinant)
			@Html.EditorFor(m => m.Sutartis.DegaluKiekisGrazinant)
			@Html.ValidationMessageFor(m => m.Sutartis.DegaluKiekisGrazinant, "")
		</div>
	</fieldset>

	<fieldset>
		<div class="container-fluid d-flex d-row justify-content-between align-items-center">
			<span></span>
			<legend style="width: unset; margin-bottom: 0px;">Papildomos paslaugos</legend>
			<button
				name="add"
				value="1"
				formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
				formaction="@Url.Action()#listEnd"
				class="btn btn-info"
			><i class="fa-solid fa-plus"></i> Pridėti</button>
		</div>

		<table>
			<thead>
				<tr>
					<th>Paslauga</th>
					<th>Kaina</th>
					<th>Kiekis</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for( var i = 0; i < Model.UzsakytosPaslaugos.Count; i++ ) {
				<tr>
					<td class="form-group">
						@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
						@Html.HiddenFor(m => m.UzsakytosPaslaugos[i].InListId)

						@Html.DropDownListFor(
							m => m.UzsakytosPaslaugos[i].Paslauga,
							Model.Lists.Paslaugos,
							(string)ViewData["none-chosen"]
						)
						@Html.ValidationMessageFor(m => m.UzsakytosPaslaugos[i].Paslauga, "")
					</td>
					<td class="form-group">
						@Html.EditorFor(m => m.UzsakytosPaslaugos[i].Kaina)
						@Html.ValidationMessageFor(m => m.UzsakytosPaslaugos[i].Kaina, "")
					</td>
					<td class="form-group">
						@Html.EditorFor(m => m.UzsakytosPaslaugos[i].Kiekis)
						@Html.ValidationMessageFor(m => m.UzsakytosPaslaugos[i].Kiekis, "")
					</td>
					<td>
						<button
							name="remove"
							value="@Model.UzsakytosPaslaugos[i].InListId"
							formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
							formaction="@Url.Action()#listEnd"
							class="btn btn-danger"							
						><i class="fa-solid fa-trash"></i> Šalinti</button>
					</td>
				</tr>
				}
			</tbody>
		</table>

		@* this is used as a marker to automatically scroll down to the end of items list when returning from button presses *@
		<span id="listEnd"></span>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>